# Ignore the virtual environment (it's huge and local)
project_venv/
venv/
env/

# Ignore the database (contains your private test data)
*.sqlite3

# Ignore Python "trash" files
__pycache__/
*.py[cod]

# Ignore IDE settings
.vscode/
.idea/

db.sqlite3